@model List<ThuongHieu>
    @using WebGiay.Models
@{
    ViewBag.Title = "ThuongHieu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><strong> Quản Lý Thương Hiệu </strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div><a href="@Url.Action("ThemThuongHieu","ThuongHieu")" class="btn btn-default">Thêm Thương Hiệu Mới</a></div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-bordered table table-hover">
                        <thead>
                            <tr>
                                <th>Mã Thương Hiệu</th>
                                <th class="cart-product-name">Tên Thương Hiệu</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cart-product-name">
                                            <a href="#">@item.MaTH</a>
                                        </td>
                                        <td class="cart-product-name">
                                            <a href="#">@item.TenTH</a>
                                        </td>
                                        
                                        <td>
                                            <a href="@Url.Action("ChinhSuaThuongHieu","ThuongHieu",new {@MaTH = item.MaTH })" class="btn btn-default">Cập Nhật</a>
                                            <a href='@Url.Action("XoaThuongHieu", "ThuongHieu", new { @MaTH = item.MaTH })' class="btn btn-primary">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

